.custom-button{
    background-color: #FF0000;
    border-color: #FF0000;
    color: #fff;
    font-weight: bold;
}

.custom-button:hover{
    background-color: #de0101;
    border-color: #de0101;
    color: #fff;
    font-weight: bold;
}

.custom-button:active{
    background-color: #de0101;
    color: #fff;
    font-weight: bold;
}